<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>run-hunter</string>
    <key>CFBundleIdentifier</key>
    <string>com.ovis.hunter-auth-scrapers</string>
    <key>CFBundleName</key>
    <string>Hunter Auth Scrapers</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>Hunter Auth Scrapers</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>ovis-hunter</string>
            </array>
        </dict>
    </array>
    <key>LSBackgroundOnly</key>
    <false/>
    <key>NSAppleEventsUsageDescription</key>
    <string>Hunter needs to run scraper scripts.</string>
</dict>
</plist>
